*{
	text-align:center;
	
}
body, html {
  height: 100%;
  margin: 0;
}
h3{
	color: white;
}
body{
	font-size: 150%;
}
h2{
	color: white;
	margin: 0;
	padding: 0;
	background: rgba(73, 214, 202, 0.5);
}
body{
	background-image: url("fast_food2.png");
	height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
select.recipes{
	border-style: solid;
	border-color: #f05d5d;
	background-color: rgb(227, 198, 104,0.7);
	font-size: 17px;
	width: 200px; 
	height: 30px;
}
img.image{
	position: relative;
	top: 5px;
	color: green;
	width: 150px; 
	height: 150px;
}
img.image:hover{
	opacity: 0.5;
}
div.main{
	position: relative;
	top: 20px;
	background-color: rgb(148, 176, 155,0.6);
	margin: auto;
	padding: 25px;

}
div.recipe{
	margin: auto;
		position: relative;
	top: 20px;
	padding: 30px;
}
div.add{
	margin: auto;
	width: 400px;
	background-color: rgb(95, 227, 115,0.6);
	padding: 25px;
}
div.delete{
	margin: auto;
	width: 400px;
	background-color: rgb(227, 121, 95,0.6);
	padding: 25px;
}
input.in3{
	border-style: solid;
	border-color: aqua;
	background-color: rgb(154, 168, 151,0.8);
	font-size: 16px;
	width: 70px; 
	height: 30px;
}
input.in3:hover{
    background-color: #6c736b;
}
button.in3{
	border-style: solid;
	border-color: aqua;
	background-color: rgb(154, 168, 151,0.8);
	font-size: 15px;
	width: 70px; 
	height: 30px;
}
button.in3:hover{
    background-color: #6c736b;
}